---
import Card from "../components/Card.astro";
import painting from "@assets/services/01-painting.jpg";
import kitchen from "@assets/services/02-kitchen.jpg";
import bathroom from "@assets/services/03-bathroom.jpg";
import stone from "@assets/services/04-stone.jpg";
import concrete from "@assets/services/05-concrete.jpg";
import yard from "@assets/services/06-yard.jpg";
import roofing from "@assets/services/07-roofing.jpg";
---

<div class="">
  <h1 id="services" class="font-main indent-8 py-8 text-4xl">Our services</h1>
  <div
    class="container mx-auto pb-6 grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-8 align-top"
  >
    <Card
      image={painting.src}
      title="Painting"
      badge={["Interior", "Exterior", "Maintenance"]}
      limitedTimeOffer={true}
    >
      Transform your apartment, house, or commercial property with our expert
      painting services. Whether refreshing interiors or giving exteriors a
      vibrant new look, we deliver flawless finishes using high-quality
      materials for long-lasting results.
    </Card>

    <Card
      image={kitchen.src}
      title="Kitchen"
      badge={["Improvement", "Remodeling"]}
      limitedTimeOffer={true}
    >
      Revitalize your kitchen with custom designs and expert craftsmanship. From
      modern upgrades to complete overhauls, we create functional and stylish
      spaces tailored to your taste and lifestyle.
    </Card>

    <Card
      image={bathroom.src}
      title="Bathroom"
      badge={["Improvement", "Remodeling", "Maintenance"]}
      limitedTimeOffer={true}
    >
      Enhance your bathroom with innovative designs and premium materials.
      Whether it's a sleek, contemporary upgrade or a luxurious retreat, we’ll
      bring your vision to life with meticulous attention to detail.
    </Card>
    <Card
      image={stone.src}
      title="Decorative Stone & Tiling"
      badge={["Interior", "Exterior", "Landscaping"]}
      limitedTimeOffer={true}
    >
      Add timeless elegance to your property with decorative stone
      installations. Perfect for interior walls or exterior facades, our
      craftsmanship ensures stunning results that enhance both aesthetics and
      durability.
    </Card>
    <Card
      image={concrete.src}
      title="Concrete Work"
      badge={["Construction"]}
      limitedTimeOffer={true}
    >
      From foundations to walkways, our concrete services are designed to last.
      We specialize in high-quality concrete work for both residential and
      commercial projects, offering strength and style to every structure.
    </Card>
    <Card
      image={yard.src}
      title="Yard Improvements"
      badge={["Landscaping"]}
      limitedTimeOffer={true}
    >
      Transform your outdoor space with our yard improvement services. Whether
      landscaping, building patios, or creating custom outdoor features, we’ll
      craft a yard that’s both functional and beautiful.
    </Card>
    <div class="xl:col-start-2 xl:col-span-1 lg:col-span-2">
      <Card
        image={roofing.src}
        title="Roofing"
        badge={["Maintenance"]}
        limitedTimeOffer={true}
      >
        Protect your property with our reliable roofing services. From repairs
        to new installations, we use durable materials and expert techniques to
        ensure your roof stands strong against the elements.
      </Card>
    </div>
  </div>
</div>
